<body>
    <h1>DASHBOARD</h1>
    <br>
    <h3>Movimentação</h3>
    <div>
        <form class="row gy-2 gx-4 align-items-center">
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInput">Data</label>
              <input type="date" name="inputData" class="form-control" id="autoSizingInput" placeholder="Data" [(ngModel)]="moviment.date" >
            </div>
            <div class="col-sm-4">
              <label class="visually-hidden" for="autoSizingInputGroup">Descrição</label>
              <div class="input-group">
                
                <input type="text" name="descricao" class="form-control" id="autoSizingInputGroup" placeholder="Descrição" [(ngModel)]="moviment.description">
              </div>
            </div>
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" id="autoSizingSelect" name="categoria" [(ngModel)]="moviment.category">
                <!-- <option selected>Categoria...</option> -->
                <option value="Mercado">Mercado</option>
                <option value="Saúde">Saúde</option>
                <option value="Educação">Educação</option>
                <option value="Carro">Carro</option>
              </select>
            </div>
            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                <select class="form-select" id="autoSizingSelect" name="tipo" [(ngModel)]="moviment.type">
                  <!-- <option selected>Entrada/Saída...</option> -->
                  <option value="entrada">Entrada</option>
                  <option value="saída">Saída</option>
                </select>
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="autoSizingInputGroup">Valor</label>
                <div class="input-group">
                  
                  <input type="number" name="inputValor" class="form-control"  placeholder="R$" [(ngModel)]="moviment.value">
                </div>
              </div>
            
            <div class="col-auto">
              <button type="submit" class="btn btn-primary" (click)="clickme()">Adicionar</button>
            </div>
          </form>
    </div>
    <div>
    <br>
    <h3>Movimentações</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <!-- <th scope="col">movId</th> -->
                <th scope="col">Data</th>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dado of teste">
                <!-- <td>{{dado.movId}}</td> -->
                <td>{{dado.date.slice(0,10)}}</td>
                <td>{{dado.description}}</td>
                <td>{{dado.category}}</td>
                <td>{{dado.value}}</td>
                <td>
                  <button type="button" class="btn btn-primary me-3"  (click)="deleteBtn(dado.movId)">Delete</button>  
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"   (click)="openEditModalBtn(dado.movId)">
                    Edit
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        <!-- <h2>{{teste[0].text}}</h2>
        <h2>{{teste[1].username}}</h2>
        <h2>{{teste[1].text}}</h2> -->
    </div>
    
    <!-- Modal Edit Moviment -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit moviment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeEditModalBtn()"></button>
      </div>
      <div class="modal-body">
        <div class="col-auto mt-1">
          <label>Data</label>
          <input type="date" name="inputData" class="form-control" id="autoSizingInput" placeholder="Data" [(ngModel)]="editMoviment.date" >
        </div>
        
        <div class="col-auto mt-2">
          <label>Descrição</label>
          <div class="input-group">
            <input type="text" name="descricao" class="form-control" id="autoSizingInputGroup" placeholder="Descrição" [(ngModel)]="editMoviment.description">
          </div>
        </div>
        
        <div class="col-auto mt-2">
          <label>Categoria</label>
          <select class="form-select" id="autoSizingSelect" name="categoria" [(ngModel)]="editMoviment.category">
            <option value="Mercado">Mercado</option>
            <option value="Saúde">Saúde</option>
            <option value="Educação">Educação</option>
            <option value="Carro">Carro</option>
          </select>
        </div>
        
        <div class="col-auto mt-2">
            <label>Entrada/Saída</label>
            <select class="form-select" id="autoSizingSelect" name="tipo" [(ngModel)]="editMoviment.type">
              <option value="entrada">Entrada</option>
              <option value="saída">Saída</option>
            </select>
        </div>
        
        <div class="col-auto mt-2 ">
          <label>Valor</label>
          <div class="input-group">
            <input type="number" name="inputValor" class="form-control"  placeholder="R$" [(ngModel)]="editMoviment.value">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeEditModalBtn()">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveEditModalBtn(this.editMoviment.movId)">Save changes</button>
      </div>
    </div>
  </div>
</div>
            
</body>
